<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.garrett.ultimatev2">

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UltiMATE_Theme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/UltiMATE_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TeamListActivity"
            android:label="@string/title_team_list"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/UltiMATE_Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.garrett.ultimatev2.HomeActivity" />
        </activity>
        <activity
            android:name=".TeamDetailActivity"
            android:label="@string/title_team_detail"
            android:parentActivityName=".TeamListActivity"
            android:theme="@style/UltiMATE_Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.garrett.ultimatev2.TeamListActivity" />
        </activity>
        <activity
            android:name=".GameHubActivity"
            android:label="@string/title_activity_game_hub"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/UltiMATE_Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.garrett.ultimatev2.HomeActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/UltiMATE_Theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.garrett.ultimatev2.HomeActivity" />
        </activity>
    </application>

</manifest>